* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

nav {
    background-color: rgba(6, 58, 73, 0.646);
    color: rgb(255, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}

#title h1 {
    padding-left: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 241, 241);
    font-size: 20px;
}

#searchContainer {
    background: rgb(242, 236, 236);
    margin-right: 10px;
    display: flex;
    border-radius: 20px;
    padding: 5px;
}

#searchContainer input{
    width: 200px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(32, 29, 29);
    padding-left: 10px;
}

#searchContainer button {
    margin-right: 10px;
    background-color: rgb(9, 95, 121);
    border: none;
    outline: none;
    cursor:  pointer;
    padding: 8px;
    border-radius: 10px;
    color: rgb(255, 241, 241);

}

#searchContainer button:hover{
    background-color: rgb(4, 56, 72);

}

/* Home Page Body */ 

body {
    background-image: url(./images/nightTime.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homeTitle {
    color: rgb(255, 241, 241);
    font-size: 50px;
    width: 350px;
    transform: translate(230px, 150px);
    background-color: rgba(48, 54, 60, 0.21);
    font-weight: bold;
}

#homeDescription {
    color: rgb(255, 241, 241);
    font-size: 16px;
    width: 300px;
    transform: translate(230px, 200px);
    background-color: rgba(48, 54, 60, 0.21);
    line-height: 20px;
}

#bookBtn {
    color: rgb(255, 241, 241);
    transform: translate(230px, 250px);
    background-color: rgb(9, 95, 121);
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#bookBtn:hover {
    background-color: rgb(4, 56, 72);
    }

#sideBar {
    width: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

#sideBar li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 241, 241);
    transition: font-size .5s;
    }

#sideBar li:hover{
    color: rgb(217, 196, 196);
    font-size: 40px;
    transition: font-size .5s;
}
