* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

nav {
    background-color: rgba(6, 58, 73, 0.646);
    color: rgb(255, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}

#title h1 {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 241, 241);
    font-size: 20px;
}

#searchContainer {
    background: rgb(242, 236, 236);
    margin-right: 10px;
    display: flex;
    border-radius: 20px;
    padding: 5px;
}

#searchContainer input{
    width: 200px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(32, 29, 29);
    padding-left: 10px;
}

#searchContainer button {
    margin-right: 10px;
    background-color: rgb(9, 95, 121);
    border: none;
    outline: none;
    cursor:  pointer;
    padding: 8px;
    border-radius: 10px;
    color: rgb(255, 241, 241);

}

#searchContainer button:hover{
    background-color: rgb(4, 56, 72);

}

.hidden {
    visibility: hidden;
}

/* Home Page Body */ 

body {
    background-image: url(./images/nightTime.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
}

#flexDiv {
    display: flex;
    flex-direction: column;
}

#homeTitle {
    color: rgb(255, 241, 241);
    font-size: 50px;
    width: 350px;
    transform: translate(230px, 150px);
    background-color: rgba(48, 54, 60, 0.21);
    font-weight: bold;
}

#homeDescription {
    color: rgb(255, 241, 241);
    font-size: 16px;
    width: 300px;
    transform: translate(230px, 200px);
    background-color: rgba(48, 54, 60, 0.21);
    line-height: 20px;
}

#bookBtn {
    color: rgb(255, 241, 241);
    transform: translate(230px, 250px);
    background-color: rgb(9, 95, 121);
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    width:10%;
    cursor: pointer;
}

#bookBtn:hover {
    background-color: rgb(4, 56, 72);
    }

    /* sidebar icons */

#sideBar {
    width: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    position: fixed;
}

#sideBar li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 241, 241);
    transition: font-size .5s;
    }

#sideBar li:hover{
    color: rgb(217, 196, 196);
    font-size: 40px;
    transition: font-size .5s;
}

/* About us Page */ 

#aboutTitle { 
    color: rgb(255, 241, 241);
    font-size: 50px;
    width: 260px;
    transform: translate(200px, 40px);
    background-color: rgba(48, 54, 60, 0.102);
    font-weight: bold;
}

#aboutDes {
     color: rgb(255, 241, 241);
    font-size: 16px;
    width: 1000px;
    transform: translate(230px, 100px);
    background-color: rgba(27, 29, 30, 0.516);
    line-height: 20px;
}

#ourTeam { 
    display: flex;
    justify-content: space-between;
    width: 800px;
    color: rgb(255, 241, 241);
    transform: translate(430px, 300px);
    padding: 20px;
    background-color: rgba(27, 29, 30, 0.247);
    position: absolute;
}

#ourTeam h2 {
    font-size: 40px;
    width: 20px;
    margin-right: 150px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.employee { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    background-color: rgba(27, 29, 30, 0.516);
    width: 180px;

}

.employee h3 {
    font-size: 16px;
    font-weight: bold;
}

.employee p {
    font-size: 12px;
    color: rgb(172, 167, 167);
    
}
.teamBtn {
    width: 90%;
    margin-left: 10px;
    background-color: rgb(9, 95, 121);
    outline: none;
    border: none;
    border-radius: 10px;
    color: rgb(255, 241, 241);
    padding: 5px;
    cursor: pointer;
}

.teamBtn:hover {
    background-color: rgb(4, 56, 72);
    }

/* Contact Us Page */ 

#contactTitle {
    color: rgb(255, 241, 241);
    transform: translate(230px, 200px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

#contactDes {
    color: rgb(255, 241, 241);
    transform: translate(230px, 300px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#contactForm{
    color: rgb(255, 241, 241);
    background-color: rgba(27, 29, 30, 0.421);
    width: 60%;
    transform: translate(800px, 70px);
    border-radius: 10px ;
    padding: 10px;
    position: absolute;
}

#contactForm label{
    color: rgba(255, 241, 241, 0.763);
    
}

#contactForm input {
    outline: rgb(153, 153, 153);;
    border: rgba(209, 209, 209, 0.999) solid 1px;
    border-radius: 6px;
    padding: 5px;
    background-color: transparent;
    color: rgb(255, 241, 241);
    width: 75%;
}

#contactForm textarea{
    outline: rgb(153, 153, 153);;
    border: rgba(209, 209, 209, 0.999) solid 1px;
    border-radius: 6px;
    padding: 5px;
    background-color: transparent;
    color: rgb(255, 241, 241);
    width: 75%;
    height: 140px;
}

#contactForm button {
    width: 75%;
    color: rgb(255, 241, 241);
    background-color: rgb(9, 95, 121);
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    font-size: 14px;
}

#contactForm button:hover {
    background-color: rgb(5, 65, 83);

}

/* Recommendation Div Styling*/


.container { 
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}


.container img {
    width:100%;
    height:70%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container h3 {
    /* margin: 10px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 10px;
}

.container p{ 
    color: rgba(128, 128, 128, 0.437);
    padding: 10px;
    font-size: 12px;
}

#recContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 25%;
    right: 30px;
}

.container button {
    padding: 4px;
    margin-bottom: 12px;
    margin-left: 12px;
    background-color: rgb(9, 95, 121);
     border: none;
    outline: none;
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 241, 241);
    width:60px;
}

.container button:hover {
    background-color: rgb(5, 65, 83);

}