* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

nav {
    background-color: rgb(209, 112, 27);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}

#title h1 {
    padding-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#searchContainer {
    background: rgb(242, 236, 236);
    margin-right: 10px;
    display: flex;
    border-radius: 20px;
    padding: 5px;
}

#searchContainer input{
    width: 200px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(32, 29, 29);
    padding-left: 10px;
}

#searchContainer button {
    margin-right: 10px;
    background-color: rgb(209, 112, 27);
    border: none;
    outline: none;
    cursor:  pointer;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

#searchContainer button:hover{
    background-color: rgb(127, 69, 18); ;
}